extends layout/default

block head
    link(type="text/css",rel="stylesheet",href="css/index.css")

block body 
    
block script
    //- script <?php global=json_encode( $this ) ?>
    script(src="js/index.js")
